.help-icon {
    font-size: 14px;
    float: right;
    width: 14px;
    height: 14px;
    margin-top: 2px;
    margin-left: 4px;
    color: #1E91CF;
}

.creditcard-logo {
    display: inline-block !important;
}

.add-more-btn {
    display: inline-block !important;
    text-decoration: none !important;
}